* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: 'Averia Libre', cursive;
  background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 58%;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 56%;
  }
}
